@import "variables";


.header {
    background-color: $firstbg;
    min-height: 560px;
    min-width: 693px;

    .navigation {
        display: flex;
        justify-content: space-around;

        .leftnav {
            #logostyle {
                // background-color: #729ce9;
                // position: absolute;
                // height: 79px;
                // width: 239px;
                // transform: skew(16deg, 7deg);
                // left: 148px;
                // top:-4px;
                // border-radius: 11px;
            }

            .logo {
                background-color: white;
                border-radius: 7px;
                padding: 13px 2px;
                margin: -6px 0px;
                font-size: 28px;
                width: 262px;
                font-weight: bold;
                position: relative;
                z-index: 999;

                #compare {
                    color: #3188dd;

                }

                #offers {
                    color: #70b2e5;
                    margin-left: -8px;
                }
            }
        }

        .navmenu {
            .navlist {
                .navlist {
                    display: block;
                }

                li {
                    display: inline-block;

                    a {

                        padding: 2px 7px;
                        color: white !important;
                        .fa-solid{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
}

// end of navigation
// first page scss

.firstpage {
    position: relative;
    top: 96px;

    .row {
        .leftsec {
            .credit {
                max-width: 336px;
                padding: 15px 0px;
            }

            .para1 {
                padding: 15px 0px;
            }

            .iconbtn {
                border: 1px solid white;
                padding: 6px 9px;
                padding-left: -1px;

            }

            .fa-solid {
                padding-left: 99px;
            }

        }

        .rightsec {
            .student {
                height: 301px;
                width: 261px;
                position: relative;
                top: 26px;
            }
        }
    }
}

// header seciton ends
// 2nd page starts here

.service-sec {
    min-height: 560px;
    min-width: 693px;

    .insidesec {
        .services {
            text-align: center;
            color: $firstbg;
            padding: 70px 0px 0px 0px;
            letter-spacing: $letterSpacing;
        }

        .financial-services {
            text-align: center;
            font-weight: bold;
            font-size: 33px;
        }

        .para2 {
            text-align: center;
            color: $paracolor;
            padding: 0px 173px;

        }

    }

    .gridsec {
        .gridlist {
            .box1 {
                .grid-height {
                    height: 290px;

                    .fa-solid {
                        font-size: 58px;
                        margin-top: 37px;
                        margin-bottom: 37px;
                        background-color: #e8f3fb;
                        padding: 8px 9px;
                        border-radius: 7px;
                        color: $firstbg
                    }
                    p{
                        color: $paracolor;
                    }
                }

            }
            
            .box2{
                .grid-height{
                    height: 290px;
                    .fa-sharp{
                        font-size: 58px;
                        margin-top: 37px;
                        margin-bottom: 37px;
                        background-color: #ffebf3;
                        padding: 8px 9px;
                        border-radius: 7px;
                        color: #ef4d85;

                    }
                    p{
                        color: $paracolor;
                    }
                }
            }
            .box3{
                .grid-height{
                    height: 290px;
                    .fa-brands{
                        font-size: 58px;
                        margin-top: 37px;
                        margin-bottom: 37px;
                        background-color: #f1f1fc;
                        padding: 8px 9px;
                        border-radius: 7px;
                        color: #6e7dde;

                    }
                    p{
                        color: $paracolor;
                    }
                }
            }
            .box4{
                .grid-height{
                    height: 290px;
                    .fa-solid{
                        font-size: 58px;
                        margin-top: 37px;
                        margin-bottom: 37px;
                        background-color: #ffebf3;
                        padding: 8px 9px;
                        border-radius: 7px;
                        color: #ef4d85;

                    }
                    p{
                        color: $paracolor;
                    }
                }
            }
            .box5{
                .grid-height{
                    height: 290px;
                    .fa-solid{
                        font-size: 58px;
                        margin-top: 37px;
                        margin-bottom: 37px;
                        background-color: #f1f1fc;
                        padding: 8px 9px;
                        border-radius: 7px;
                        color: #6e7dde;

                    }
                    p{
                        color:$paracolor
                    }
                }
            }
            .box6{
                .grid-height{
                    height: 290px;
                    .fa-solid{
                        font-size: 58px;
                        margin-top: 37px;
                        margin-bottom: 37px;
                        background-color: #e8f3f9;
                        padding: 8px 9px;
                        border-radius: 7px;
                        color: #3b83cb;
                        
                    }
                    p{
                        color: $paracolor;
                    }
                }

            }

        }

    }
}

// Second Page (Grid Section)
// In css file.

// Third Page ()
.third-page {
    background-image: url(../img/globe-dots.png);
    min-width: 669px;
    min-height: 520px;

    .third-page-left-sec {
        .mastercard {
            display: flex;
            justify-content: space-between;

            .dc-mastercard {
                height: 390px;
                width: 420px;
                background-color: #3188dd;
                border-radius: 50%;
                margin: 70px 0px;
                min-height: 200px;
                min-width: 374px;

                .deservemc {
                    height: 164px;
                    width: 226px;
                    position: relative;
                    transform: rotate(60deg);
                    top: 37px;
                    left: -27px;

                }

                .creditonemc {
                    height: 145px;
                    width: 222px;
                    position: relative;
                    transform: rotate(-55deg);
                    top: 34px;
                    left: 126px;

                }
            }
        }

        .third-page-right-sec {
            margin-top: 140px;
            margin-left: 50px;

            .offers {
                color: $firstbg;
                letter-spacing: $letterSpacing;


            }

            .find-top-credit {
                font-weight: bold;
                font-size: 33px;
            }

            .easily-compare {
                color: $paracolor;


            }

            .see-offers-btn {}
        }
    }

}

// Fourth page starts from here

.fourth-page {
    min-width: 696px;

    .fourth-page-text-area-one {
        margin-top: 100px;
        margin-bottom: 20px;

        .services {
            color: $firstbg;
            letter-spacing: $letterSpacing;
        }

        .financial-services {
            font-weight: bold;
            font-size: 33px;
        }

        .para2 {
            color: $paracolor;
        }
    }

    .three-steps {
        margin-top: 50px;
        margin-left: 90px;
        text-align: left;

        .first-step {
            .s1 {
                background-color: #e74d83;
                display: inline;
                padding: 13px 23px;
                box-shadow: 0px 28px 17px 2px #e74d83;
                border-radius: 7px;
            }

            .few-questions {
                margin-top: 53px;
            }

            .para1 {
                color: $paracolor;
            }

        }

        .second-step {
            margin-top: 50px;

            .s2 {
                background-color: #3089dd;
                display: inline;
                padding: 13px 23px;
                border-radius: 7px;
                box-shadow: 0px 28px 17px 2px #3089dd;
            }

            .got-matched {
                margin-top: 53px;
            }

            .para2 {
                color: $paracolor;
            }
        }

        .third-step {
            .s3 {
                background-color: #757ce6;
                display: inline;
                padding: 13px 23px;
                border-radius: 7px;
                box-shadow: 0px 28px 17px 2px #757ce6;
            }

            .close-the-deal {
                margin-top: 53px;
            }

            .para3 {
                color: $paracolor;
            }
        }
    }

    // Fourth Page second section

    .fourth-page-text-area-two {
        margin-top: 100px;

        .brands {
            color: $firstbg;
            letter-spacing: $letterSpacing;
        }

        .get-matched {
            font-weight: bold;
            font-size: 33px;
            max-width: 724px;
            margin: auto;
        }

        .basic-questions {
            color: $paracolor;
            margin-top: 15px;
        }
    }

    .company-logo {
        display: flex;
        justify-content: space-evenly;
        margin-top: 60px;
    }

    .get-started-1 {
        margin-top: 50px;
    }
}




// Fifth Page (Insuracne wala page)

.insurance-page {
    background-image: url(../img/globe-dots.png);
    height: 400px;
    margin-top: 100px;
    min-width: 700px;

    .content-area {
        display: flex;
        justify-content: space-between;

        .text-area {
            margin-top: 77px;

            .safety {
                color: $firstbg;
                letter-spacing: $letterSpacing;

            }

            .your-card {
                width: 310px;
            }

            .cryptocoin-higher-security {
                border-left: 3px solid #0e53c3;

                .cryptocoin {
                    margin-left: 22px;
                    width: 248px;
                }

            }
        }


    }

    .insurance-style {
        height: 331px;
        width: 313px;
        background-color: #3188dd;
        border-radius: 50%;
        margin: 70px 0px;
        min-height: 220px;
        min-width: 357px;
        margin-top: 43px;

        .insurance {
            height: 353px;
            width: 343px;
            position: relative;
            left: 26px;
            top: -21px;

        }

        .insurance-man {
            height: 242px;
            width: 247px;
            position: relative;
            top: -283px;
            left: -92px;
        }


    }


}

// FAQ
.faqpage {
    min-width: 700px;
    margin-top: 100px;

    .faqs {
        letter-spacing: $letterSpacing;
        color: $firstbg;

    }

    .faquestions {
        font-weight: bold;
        font-size: 33px;

    }

    .basic-questions {
        color: $paracolor;

    }

    .threequestions {
        margin-top: 50px;
        border: none !important;
        outline: none !important;
    }
}

#SN {}

#answerpara2 {
    text-align: left;
}



// Second Last Page
.second-last-page {
    background-color: #dce6ee;
    min-height: 600px;
    width: 100%;
    min-width: 694px;

    .feedback {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;

        .leftsec {
            height: 331px;
            width: 313px;
            background-color: #3188dd;
            border-radius: 50%;
            min-height: 220px;
            min-width: 357px;
            margin-top: 135px;

            .img1 {
                background-color: white;
                height: 181px;
                width: 185px;
                border-radius: 11px;
                text-align: center;
                position: relative;
                left: -50px;
                top: 20px;

                .img1pp {
                    height: 91px;
                    width: 103px;
                    border-radius: 50%;
                }

                .kaiden {
                    margin-top: 23px;
                    font-size: 19px;
                }
            }

            .img2 {
                background-color: rgba(255, 255, 255, 0.7);
                height: 151px;
                width: 139px;
                position: relative;
                top: -233px;
                left: 177px;
                text-align: center;
                border-radius: 11px;

                .img2pp {
                    height: 65px;
                    width: 65px;
                    border-radius: 50%;

                }

                .kathryn {
                    margin-top: 23px;
                    font-size: 15px;

                }

            }

            .img3 {
                background-color: rgba(255, 255, 255, 0.7);
                height: 174px;
                width: 172px;
                position: relative;
                top: -190px;
                left: 168px;
                text-align: center;
                border-radius: 11px;

                .img3pp {
                    height: 72px;
                    width: 76px;
                    border-radius: 50%;
                }

                .tammy {
                    margin-top: 23px;
                    font-size: 19px;
                }
            }

            .img4 {
                background-color: rgba(255, 255, 255, 0.7);
                height: 104px;
                width: 87px;
                position: relative;
                top: -263px;
                left: 66px;
                text-align: center;
                border-radius: 11px;

                .img4pp {
                    height: 38px;
                    width: 45px;
                    border-radius: 50%;

                }

                .yenya {
                    margin-top: 16px;
                    font-size: 15px;

                }
            }


        }

        .rightsec {
            margin-top: 112px;
            margin-left: 63px;

            .testimonial {
                color: $firstbg;
                letter-spacing: $letterSpacing;

            }

            .our-client {
                font-weight: bold;
                font-size: 33px;
            }

            .few-basic {
                color: $paracolor;
            }

            .img01pp {
                border-radius: 58px;
                height: 50px;
            }
        }

    }

}

// footer

.footer-hero {
    background-color: #3188dd;
    min-width: 694px;

    .footer-sec {
        .footertext {
            min-width: 694px;

            .getintouch {}

            .parabigone {
                color: $paracolor;

            }

            .business-email {
                border: none;
                padding: 6px 36px 9px;
                border-radius: 7px;

            }

            ::placeholder {}

            .get-started-btn {}
        }

        .for-more-links {
            .link-list {}

            .quick-links {
                .footer-navlist li a {
                    color: white;
                }

            }

            .compnay {
                .footer-navlist li a {
                    color: white;
                }
            }

            .information {
                .footer-navlist li a {
                    color: white;

                }
            }
        }

    }

    .copyright-section {
        display: flex;
        justify-content: space-between;

        a {
            color: white;
        }
    }
}